<div ng-controller="userLoginController">
        
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <md-card>
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <span class="center-block">User Login</span>
                        </div>
                    </md-toolbar>
                  <md-card-content>
                   <form role=form ng-submit=loginSubmit()>
                            <md-input-container class="form-group col-lg-12">   
                                <label>Email</label>
                                <input name="password" type="email" ng-model="email_id">
                            </md-input-container>
                            <md-input-container class="form-group">   
                                <label>Password</label>
                                <input name="password" type="password" ng-model="password">
                            </md-input-container>
                       <md-button type="submit" class="md-raised md-primary"> Login </md-button>
                    </form>
                  </md-card-content>
                    <md-card-footer>
                     {{status_message}}
                    </md-card-footer>  
                </md-card>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
 </div>